<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1><%= user.name %>’s Logs</h1>

  <h2>Meals:</h2>
    <ul>
      <% meals.forEach(meal => { %>
        <li><%= meal.mealName %> | Protein: <%= meal.protein %>g | Carbs: <%= meal.carbs %>g | Fat: <%= meal.fat %>g</li>
        <% if (meal.protein < 10) { %>
          <p>hello</p>
       <% } %>
      <% }) %>
    </ul>

  <h2>Exercises:</h2>
    <ul>
      <% exercises.forEach(ex => { %>
        <li><%= ex.exerciseName %> | Sets: <%= ex.sets %> | Reps: <%= ex.reps %> | Weight: <%= ex.weight %>kg</li>
      <h2>created by <%= ex.userId.name%></h2>
        <% }) %>
    </ul>
    
</body>
</html>