<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2><%= user.name %>'s Plan</h2>

    <% plan.forEach(e => { %>
        <p>Goal: <%= e.userId.goal %></p>
        <p>Age: <%= e.userId.age %></p>
        <p>Height: <%= e.userId.height %></p>
        <p>Weight: <%= e.userId.weight %></p>   
    <% }); %>
    
    <!-- <% if (user) { %>

    <% } else { %>
        <p>No plan assigned yet.</p>
    <% } %> -->
</body>
</html>