<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Exercises</title>
</head>
<body>
        <%- include('../partials/_exercisesNavbar.ejs') %>
    <% foundExercises.forEach(exercise => { %>
  <div class="meal-card">
    <h3><%= exercise.exerciseName %></h3>
    <p>Muscle target: <%= exercise.muscleName %> </p>
    <p>Sets: <%= exercise.sets %> </p>
    <p>Reps: <%= exercise.reps %> </p>
    <p>Weight lifted: <%= exercise.weight %> Kg</p>

    <a href="/exercises/<%= exercise._id %>/edit">Edit</a>

    <form action="/exercises/<%= exercise._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>
  </div>
    <% }); %>

    <button><a href="/exercises/new">Create new meal</a></button>
</body>
</html>